<head>
 <!--google字體-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
</head>

<div class="footer-bg">
  <div class="footer">
    <p class="section-p">Copyright © Isayama Hajime/Attack On Titan All Rights Reserved.</p>
    <ul>
      <li><a href="https://www.plurk.com/Gitto" title="Plurk@Gitto" target="_blank"><i class="fa-solid fa-meteor"></i></a></li>
      <li><a href="https://x.com/ITSME_ZUO" title="twitter-x" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/zuo_aot/" title="instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
