<nav class="navbar">
  <div class="nav-container">
    <a class="logo" data-root="/">
      <img src="https://images.plurk.com/UtbUmX81ltjwCg3ucC3fO.png" alt="Logo"
        style="height: 32px; vertical-align: middle;">
      <span>Erwin Foundation</span>
    </a>
    <div class="hamburger" id="hamburgerBtn">
      <i class="fa fa-bars"></i>
    </div>
    <ul class="nav-menu">
      <li><a data-root="/#section1">本基金會</a></li>
      <li><a data-root="/#section2">艾爾文生平</a></li>
      <li><a data-root="/#section3">史密斯廣場</a></li>
      <li><a data-root="/#section4">文物典藏</a></li>
      <li><a data-root="/#section5">團長軼聞</a></li>
      <li>
        <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">藝文活動</a>
        <ul class="submenu">
          <li><a data-root="/events/education/">推廣教育</a></li>
          <li><a data-root="/events/exhibitions/">藝文展覽</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">支持我們</a>
        <ul class="submenu">
          <li><a data-root="/phonograph.html" target="_blank"><i class="fa-solid fa-comment"></i> 留言支持</a></li>
          <li><a data-root="/sponsor.html" target="_blank"><i class="fa-solid fa-circle-dollar-to-slot"></i> 贊助支持</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">關聯網站</a>
        <ul class="submenu">
          <li><a href="https://woffymilk.github.io/MrAckerman/index.html" target="_blank"><i
                class="fa-brands fa-youtube"></i> 阿卡曼先生頻道</a></li>
          <li><a href="https://woffymilk.github.io/2021Hange/index.html" target="_blank"><i
                class="fa-solid fa-glasses"></i> 韓吉‧佐耶紀念網</a></li>
          <li><a href="https://www.instagram.com/aot_paradis_happy/" target="_blank"><i
                class="fa-brands fa-instagram"></i> 新帕島康樂隊</a></li>
          <li><a href="https://www.youtube.com/watch?v=zR96chkYc08&t=1s" target="_blank"><i
                class="fa-solid fa-horse-head"></i> 馬的圖鑑成果展</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- 手機版選單 -->
  <ul class="mobile-menu" id="mobileMenu">
    <li class="mobile-hide"><a data-root="/#section1">本基金會</a></li>
    <li class="mobile-hide"><a data-root="/#section2">艾爾文生平</a></li>
    <li class="mobile-hide"><a data-root="/#section3">史密斯廣場</a></li>
    <li class="mobile-hide"><a data-root="/#section4">文物典藏</a></li>
    <li class="mobile-hide"><a data-root="/#section5">團長軼聞</a></li>
    <li>
      <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">藝文活動</a>
      <ul class="submenu">
        <li><a data-root="/events/education/"><i class="fa-solid fa-graduation-cap indentation"></i>
            推廣教育</a></li>
        <li><a data-root="/events/exhibitions/"><i class="fa-solid fa-images indentation"></i> 藝文展覽</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">支持我們</a>
      <ul class="submenu">
        <li><a data-root="/phonograph.html" target="_blank"><i class="fa-solid fa-comment indentation"></i> 留言支持</a></li>
        <li><a data-root="/sponsor.html" target="_blank"><i class="fa-solid fa-circle-dollar-to-slot indentation"></i>
            贊助支持</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">關聯網站</a>
      <ul class="submenu">
        <li><a href="https://woffymilk.github.io/MrAckerman/index.html" target="_blank"><i
              class="fa-brands fa-youtube indentation"></i> 阿卡曼先生頻道</a></li>
        <li><a href="https://woffymilk.github.io/2021Hange/index.html" target="_blank"><i
              class="fa-solid fa-glasses indentation"></i> 韓吉‧佐耶紀念網</a></li>
        <li><a href="https://www.instagram.com/aot_paradis_happy/" target="_blank"><i
              class="fa-brands fa-instagram indentation"></i> 新帕島康樂隊</a></li>
        <li><a href="https://www.youtube.com/watch?v=zR96chkYc08&t=1s" target="_blank"><i
              class="fa-solid fa-horse-head indentation"></i> 馬的圖鑑成果展</a></li>
      </ul>
    </li>
  </ul>
</nav>