<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="logo">
      <img src="https://images.plurk.com/UtbUmX81ltjwCg3ucC3fO.png" alt="Logo"
        style="height: 32px; vertical-align: middle;">
      <span>Erwin Foundation</span>
    </a>
    <div class="hamburger" id="hamburgerBtn">
      <i class="fa fa-bars"></i>
    </div>
    <ul class="nav-menu">
      <li><a href="#section1">本基金會</a></li>
      <li><a href="#section2">艾爾文生平</a></li>
      <li><a href="#section3">史密斯廣場</a></li>
      <li><a href="#section4">文物典藏</a></li>
      <li><a href="#section5">團長軼聞</a></li>
      <li>
        <a href="#" class="dropdown-toggle">支持我們</a>
        <ul class="submenu">
          <li><a href="phonograph.html" target="_blank"><i class="fa-solid fa-comment"></i> 留言支持</a></li>
          <li><a href="sponsor.html" target="_blank"><i class="fa-solid fa-circle-dollar-to-slot"></i> 贊助支持</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle">關聯網站</a>
        <ul class="submenu">
          <li><a href="https://woffymilk.github.io/MrAckerman/index.html" target="_blank"><i class="fa-brands fa-youtube"></i> 阿卡曼先生頻道</a></li>
          <li><a href="https://woffymilk.github.io/2021Hange/index.html" target="_blank"><i class="fa-solid fa-glasses"></i> 韓吉‧佐耶紀念網</a></li>
          <li><a href="https://www.instagram.com/aot_paradis_happy/" target="_blank"><i class="fa-brands fa-instagram"></i> 新帕島康樂隊</a></li>
          <li><a href="https://www.youtube.com/watch?v=zR96chkYc08&t=1s" target="_blank"><i class="fa-solid fa-horse-head"></i> 馬的圖鑑成果展</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
